


.user_form_layout {
    /* width: 100%; */
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

.user_form {

}
.user_profile {
    gap: 2rem;
    align-items: center;
}

.default_pic {
    display: inline-flex;
    border-radius: 50%;
    width: 100%;
}


